.content {
  width: 100%;
}
.container {
  width: 94%;
  margin: 0 auto;
}
.cards_list {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.card {
  background-color: var(--dark);
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description p {
  color: var(--white);
}
.lien a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.lien a span {
  color: var(--white);
}
.lien a span:last-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a4a4aa5;
  backdrop-filter: blur(20px);
}

@media (max-width: 600px) {
  .cards_list {
    grid-template-columns: repeat(1, 1fr);
   
  }
  .card {
    background-color: #405599;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}