.content {
  padding-bottom: 50px;
}
.sub_heading {
  display: flex;
  align-items: center;
  color: var(--dark);
  font-size: var(--fz-sm);
  text-transform: uppercase;
}
.centerd {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  text-align: center;
  background-color: red;
}
.point {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: var(--radius-circle);
  background-color: var(--blue);
  position: relative;
  margin-right: 8px;
}
.point::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border-radius: var(--radius-circle);
  border: 0.7px solid var(--dark-slate);
}
.heading {
  padding-top: 40px;
}
.part {
  overflow: hidden;
}
.part h1 {
  display: flex;
  font-size: 6rem;
  font-family: "Thunder";
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--blue);
  text-transform: uppercase;
  transform: translateY(100%);
  opacity: 0;
}

@media (max-width: 570px) {
  .part h1 {
    font-size: 5rem;
  }
}
@media (max-width: 400px) {
  .part h1 {
    font-size: 3rem;
  }
  .rule_title {
    font-size: 2.8rem;
  }
}
