
.header {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 94%;
  height: 90px;
  padding: 0 25px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 452466;
  box-shadow: 0 0 12px 3px #0000000e;
}
.logo {
  cursor: pointer;
  position: relative;
  z-index: 3576656582;
}
.logo svg {
  width: 100px;
  fill: var(--blue);
}

.links {
  color: var(--blue);
  position: relative;
  z-index: 35765682;
}

.links ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.links ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.links ul li p {
  font-size: var(--fz-md);
  color: (--blue);
}
.header__arrow {
  width: 20px;
  height: 20px;
  background-color: #6c8effa8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.header__arrow svg {
  fill: var(--white);
  width: 8px;
  rotate: 180deg;
}
.book {
  margin-left: 25px;
  padding: 12px 20px;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
}

/* dropdown menu */
.expertises {
  position: fixed;
  left: 0;
  background-color: var(--blue);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 7835642;
  transition: top .4s ease;
}
.expertises_content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 40px;
  padding-top: 40px;  
  border-top: 2px solid #9fb5e6;
  padding-left: 3%;
  padding-right: 3%;
}
.expertises_heading {
  grid-column: span 2 / span 2;
  color: var(--white);
}
.expertises_row {
  grid-column: span 10 / span 10;
}
.expertises_row ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
.expertises_row a {
  font-size: var(--fz-3xl);
  color: var(--white);
}
.expertises_row li:hover a {
  color: var(--white);
}

.expertises_row li:hover ~ li a {
  color: rgb(10, 105, 201);
}

.expertises_row ul:hover li:not(:hover) a {
  color: #c0cefb;
}
.expertises__link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .logo {
    top: 50px;
    left: 50px;
  }
}

@media (max-width: 600px) {
  .logo {
    top: 30px;
    left: 30px;
  }
 
}
@media (max-width: 450px) {
  .logo {
    top: 30px;
    left: 30px;
  }
 
}


















