.content {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
}
.container {
  height: calc(100%);
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-position: 50% 0; */
}
.boldText {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 456;
}
.ticker {
  display: flex;
  gap: 4rem;
  padding: 20px 0;
  user-select: none;
  --gap: 20px;
  gap: var(--gap);
  overflow: hidden;
  opacity: 0;
  transform: translateX(100%);
}

.ticker ul {
  min-width: 100%;
  list-style: none;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: ticker 150s infinite linear;
}
.ticker ul li {
  font-size: var(--fz-6xl);
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}
.ticker ul li span {
  color: var(--blue);
}
@keyframes ticker {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (max-width: 600px) {
  .ticker ul li {
    font-size: var(--fz-4xl);
  }
  .video video {
    width: 100%;
    height: 100%;
    object-fit:cover;
    /* object-position: 50% 0; */
  }
}