.content {
  width: 100%;
  user-select: none;
}
.container {
  width: 94%;
  margin: 0 auto;
  background-color: var(--dark);
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 45px;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  padding-bottom: 0;
}
.title {
  font-size: var(--fz-3xl);
  line-height: 1;
  font-weight: 600;
  color: var(--white);
  font-family: 'Suisseintl';
}
.button button {
  padding: 12px 20px;
  background-color: var(--white);
  border-radius: 10px;
  color: var(--dark);
  font-weight: 600;
}
/* cards */
.projects {
  /* width: max-content; */
  padding-top: 35px;
  position: relative;
  z-index: 3456;
}
.projects_list {
  /* position: relative; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: flex;
  flex-wrap: nowrap;
  align-items: center; */
  gap: 15px;
}
.myswipper {
  overflow: visible;
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--darken);
  border-radius: 15px;
  border-top-left-radius: 0;
}
.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.date {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  /* background-color: var(--blue); */
  color: var(--white);
}
.date span {
  border-radius: 10px;
  background-color: #fff;
  color: var(--blue);
  font-size: var(--fz-md);
  font-weight: 500;
  padding: 8px 30px;
}
.services {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 20;
}
.services ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.services ul li {
  padding: 7px 15px;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 15px;
  text-transform: capitalize;
}
.link {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 20;
}
.link a {
  padding: 11px 20px;
  color: var(--white);
  background-color: var(--dark);
  border-bottom-right-radius: 15px;
  /* text-transform: capitalize;   */
  font-weight: 400;
}
.link a:hover {
  color: var(--blue);
}
@media (max-width: 800px) {
  .title {
    font-size: 35px;
    line-height: 1;
    font-weight: 600;
    color: var(--white);
  }
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    border-radius: 0;
  }
  .projects_list {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex;
    flex-wrap: nowrap;
    align-items: center; */
    gap: 15px;
  }
  
  .title {
    font-size: 25px;
    line-height: 1;
    font-weight: 600;
    color: var(--white);
    width: max-content;
  }
  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 0;
  }
  .container {
    
    padding-bottom: 25px;
  }
  
}
