.content {
  width: 100%;
  padding: 0 0 30px;
  font-family: "Alexandria";
}
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  background-color: var(--dark);
}
.ticker {
  display: flex;
  gap: 4rem;
  padding: 40px 0;
  user-select: none;
  --gap: 50px;
  gap: var(--gap);
  overflow: hidden;
}
@keyframes ticker {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.ticker ul {
  min-width: 100%;
  list-style: none;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: ticker 20s infinite linear;
}
.ticker ul li {
  font-size: var(--fz-4xl);
  color: var(--dark);
  font-weight: 900;
  text-transform: uppercase;
}
.services_card {
  width: 100%;
}
.cards {
  list-style-type: none;
  position: relative;
}
.card {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid var(--dark-slate);
  position: relative;
}
.card_content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.top_part {
  width: max-content;
  padding-bottom: 30px;
}
.title {
  overflow: hidden;
}
.title h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--slate);
  font-family: "Alexandria";
  position: relative;
}
.top_part h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--slate);
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transform-origin: right;
}
.card:hover .top_part h1::after {
  transform: scaleX(1);
  transform-origin: left;
}
.bottom_part {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.keywords ul {
  width: max-content;
  display: flex;
  flex-direction: column;
}
.keywords ul li {
  overflow: hidden;
}
.keywords ul li span {
  font-size: var(--fz-xl);
  color: var(--slate);
  line-height: 1.7;
  font-weight: 800;
}
.absolute {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.abs_content {
  position: relative;
}
.abs_content span {
  position: absolute;
  top: 100%;
  right: 10px;
  font-size: 13rem;
  font-weight: 800;
  line-height: 1;
  color: var(--slate);
  opacity: 0.4;
}

.service_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

@media (max-width: 900px) {
  .description {
    width: 100%;
  }
  .absolute {
    display: none;
  }
  .keywords {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .keywords ul {
    align-items: end;
  }
}
@media (max-width: 685px) {
  .description {
    display: none;
  }
  .absolute {
    display: none;
  }
  .keywords {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .keywords ul {
    align-items: start;
  }
}
@media (max-width: 585px) {
  .ticker ul li {
    font-size: var(--fz-2xl);
  }
  .top_part h1 {
    font-size: 2.5rem;
    color: var(--dark);
  }
  .card {
    padding: 30px 0;
  }
}
@media (max-width: 485px) {
  .top_part h1 {
    font-size: 1.7rem;
  }
  .keywords ul li {
    font-size: var(--fz-md);
  }
  .card {
    padding: 20px 0;
  }
  .top_part {
    padding-bottom: 20px;
  }
}
@media (max-width: 350px) {
  .top_part h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--slate);
    line-height: 1;
    font-family: "Alexandria";
    position: relative;
  }
  .keywords ul li {
    font-size: var(--fz-xs);
    padding: 2px 0;
  }
  .card {
    padding: 20px 0;
  }
  .top_part {
    padding-bottom: 10px;
  }
}
